@import url("https://fonts.googleapis.com/css2?family=Anton&family=EB+Garamond:ital,wght@0,400..800;1,400..800&family=Libre+Baskerville:ital,wght@0,400;0,700;1,400&display=swap");

html,
body {
  margin: 0;
  height: 100%;
  overflow: hidden;
}
