[package]
name = "lattice"
version = "0.0.0"
edition = "2024"

[lints]
workspace = true

[lib]
test = false
doctest = false
bench = false

[[bin]]
name = "lat"
path = "src/bin/lat.rs"
test = false
doctest = false
bench = false

[dependencies]
chrono = { workspace = true }
clap = { workspace = true }
human-panic = { workspace = true }
owo-colors = { workspace = true }
rand = { workspace = true }
regex = { workspace = true }
rusqlite = { workspace = true }
serde = { workspace = true }
serde_json = { workspace = true }
serde_yaml = { workspace = true }
sha2 = { workspace = true }
tempfile = { workspace = true }
thiserror = { workspace = true }
toml = { workspace = true }
tracing = { workspace = true }
tracing-appender = { workspace = true }
tracing-subscriber = { workspace = true }
uuid = { workspace = true }
