[package]
name = "parser"
version = "0.0.0"
edition = "2024"
[lints]
workspace = true


[lib]
test = false
doctest = false
bench = false

[dependencies]
ability_data = { path = "../ability_data" }
core_data = { path = "../core_data" }

ariadne = { workspace = true }
chumsky = "0.10"