[package]
name = "rules_engine"
version = "0.0.0"
edition = "2024"
[lints]
workspace = true

[lib]
test = false
doctest = false
bench = false

[dependencies]
action_data = { path = "../action_data" }
ai_agents = { path = "../ai_agents" }
ai_data = { path = "../ai_data" }
battle_mutations = { path = "../battle_mutations" }
battle_queries = { path = "../battle_queries" }
battle_state = { path = "../battle_state" }
core_data = { path = "../core_data" }
database = { path = "../database" }
display = { path = "../display" }
display_data = { path = "../display_data" }
game_creation = { path = "../game_creation" }
logging = { path = "../logging" }
masonry = { path = "../masonry" }
quest_state = { path = "../quest_state" }
state_provider = { path = "../state_provider" }
tabula_data = { path = "../tabula_data" }
tabula_generated = { path = "../tabula_generated" }
ui_components = { path = "../ui_components" }

backtrace = { workspace = true }
rand = { workspace = true }
serde_json = { workspace = true }
tokio = { workspace = true }
tracing = { workspace = true }
tracing-subscriber = { workspace = true }
uuid = { workspace = true }