[package]
name = "core_data"
version = "0.0.0"
edition = "2024"
[lints]
workspace = true


[lib]
test = false
doctest = false
bench = false

[dependencies]
derive_more = { workspace = true }
enumset = { workspace = true }
schemars = { workspace = true }
serde = { workspace = true }
strum = { workspace = true }
uuid = { workspace = true }