<?xml version='1.0' encoding='utf-8'?>
<ns0:Properties xmlns:ns0="http://schemas.openxmlformats.org/officeDocument/2006/extended-properties" xmlns:ns1="http://schemas.openxmlformats.org/officeDocument/2006/docPropsVTypes">
  <ns0:Application>Microsoft Macintosh Excel</ns0:Application>
  <ns0:DocSecurity>0</ns0:DocSecurity>
  <ns0:ScaleCrop>false</ns0:ScaleCrop>
  <ns0:HeadingPairs>
    <ns1:vector size="4" baseType="variant">
      <ns1:variant>
        <ns1:lpstr>Worksheets</ns1:lpstr>
      </ns1:variant>
      <ns1:variant>
        <ns1:i4>7</ns1:i4>
      </ns1:variant>
      <ns1:variant>
        <ns1:lpstr>Named Ranges</ns1:lpstr>
      </ns1:variant>
      <ns1:variant>
        <ns1:i4>3</ns1:i4>
      </ns1:variant>
    </ns1:vector>
  </ns0:HeadingPairs>
  <ns0:TitlesOfParts>
    <ns1:vector size="10" baseType="lpstr">
      <ns1:lpstr>Strings</ns1:lpstr>
      <ns1:lpstr>Cards</ns1:lpstr>
      <ns1:lpstr>Dreamwell</ns1:lpstr>
      <ns1:lpstr>Card Lists</ns1:lpstr>
      <ns1:lpstr>Card Effects</ns1:lpstr>
      <ns1:lpstr>Test Cards</ns1:lpstr>
      <ns1:lpstr>Test Dreamwell</ns1:lpstr>
      <ns1:lpstr>EffectTypesRange</ns1:lpstr>
      <ns1:lpstr>ObjectPredicateTypesRange</ns1:lpstr>
      <ns1:lpstr>TriggerTypesRange</ns1:lpstr>
    </ns1:vector>
  </ns0:TitlesOfParts>
  <ns0:Company />
  <ns0:LinksUpToDate>false</ns0:LinksUpToDate>
  <ns0:SharedDoc>false</ns0:SharedDoc>
  <ns0:HyperlinksChanged>false</ns0:HyperlinksChanged>
  <ns0:AppVersion>16.0300</ns0:AppVersion>
</ns0:Properties>